@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  .center-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .cls {
    background-image: url('./background.png');
    background-size: cover;
    background-attachment: fixed;
  }
  